<div class="flex-container">
  <div class="graphOptionsBackgroundMini optionsMarginRightSmall marginLeftFullWidth marginTopFullHeight"
    [hidden]="graphOptionsVisible" (click)="collapseGraphOptions(true)" id="graphOptionsCollapsedID"
    aria-label="clicking here will maximize the panel that contains the graph filters">
    <div class="maximize">
      <mat-icon matTooltip="maximize">maximize</mat-icon>
    </div>
    <div class="graphOptionsMin">
      Graph Options
    </div>
  </div>
  <div
    class="optionsBackground marginLeftFullWidth marginTopFullHeight optionsMarginRightLarge optionsBackgroundResponsive"
    id="graphOptionsBackgroundID" [hidden]="!graphOptionsVisible">
    <div class="minimize">
      <mat-icon matTooltip="minimize" (click)="collapseGraphOptions(false)"
        aria-label="clicking here will maximize the panel that contains graph options">minimize</mat-icon>
    </div>
    <div class="break"></div>
    <form [formGroup]="graphSelectionsForm">
      <div>
        <div class="leftBreak">
          X-Axis <br />
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Parameter</mat-label>
            <input type="text" matInput formControlName="ParametersX" [matAutocomplete]="paramX"
              aria-label="This is a dropdown filters menu. Select one or more parameters to plot on the map.">
            <mat-autocomplete #paramX="matAutocomplete" [displayWith]="display"
              (optionSelected)="populateMcodeDropdown('xaxis')">
              <mat-option *ngFor="let parameter of filteredParametersX | async" [value]="parameter">
                {{parameter.short_name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="fill"
            aria-label="This dropdown selector contains a list of method names, which are based on the parameter chosen above. Select one or more methods for the graph's x-axis.">
            <mat-label>Methods</mat-label>
            <mat-select formControlName="MethodsX">
              <mat-option *ngFor="let method of this.matchingMcodesX" [value]="method.mcode">{{ method.short_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="break"></div>
      <div>
        <div class="leftBreak">
          Y-Axis <br />
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Parameter</mat-label>
            <input type="text" matInput formControlName="ParametersY" [matAutocomplete]="paramY"
              aria-label="This is a dropdown filters menu. Select one or more parameters to plot on the map.">
            <mat-autocomplete #paramY="matAutocomplete" [displayWith]="display"
              (optionSelected)="populateMcodeDropdown('yaxis')">
              <mat-option *ngFor="let parameter of filteredParametersY | async" [value]="parameter">
                {{parameter.short_name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="fill"
            aria-label="This dropdown selector contains a list of method names, which are based on the parameter chosen above. Select one or more methods for the graph's y-axis.">
            <mat-label>Methods</mat-label>
            <mat-select formControlName="MethodsY">
              <mat-option *ngFor="let method of matchingMcodesY" [value]="method.mcode">{{ method.short_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div id="graphFilters">
      <div class="custom-slider leftBreak"
        aria-label="This is a slider for choosing the minimum and maximum years that will be represented in the graph.">
        <ngx-slider [(value)]="minYear" [(highValue)]="maxYear" [options]="timeOptions"
          (userChange)="uncheckDatefromMapOptions()"></ngx-slider>
        <mat-checkbox [disableRipple]="true" (change)="applyDatesFromMap($event)"
          aria-label="Check this box to use date range from map options" #datefromMap class="datefromMapOptions">Use
          date range from map options
        </mat-checkbox>
      </div>
      <div class="leftBreak">
        Log Scale &nbsp;
        <mat-checkbox class="example-margin" [disableRipple]="true" (change)="applyLogX($event)"
          aria-label="Checking this box will add a logarithmic scale to the x-axis">x
        </mat-checkbox>
        &nbsp;
        <mat-checkbox class="example-margin" [disableRipple]="true" (change)="applyLogY($event)"
          aria-label="Checking this box will add a logarithmic scale to the y-axis">y
        </mat-checkbox>
      </div>
      <div class="leftTopBreak" aria-label="Checking this box will filter points using the current map extent">
        <mat-checkbox class="example-margin" [disableRipple]="true" (change)="applyBoundingBox($event)">Limit by study
          area <br />
          specified in map options
        </mat-checkbox>
      </div>
      <div class="leftTopBreak" aria-label="Checking this box will filter points that have optimal satellite alignment"
        (change)="clickSatAlign($event)">
        <mat-checkbox class="example-margin" [disableRipple]="true">Optimal satellite alignment
        </mat-checkbox>
      </div>
      <div class="flex-container">
        <app-file-upload></app-file-upload>
        <button class="downloadBtn dataBtn disabledDataBtn" id="flagBtn"
          (click)="createCSV(this.flaggedData, 'flags.csv')" matTooltip="Download CSV"
          aria-label="Clicking this button will download a CSV of the flagged data">
          <mat-icon>cloud_download</mat-icon>
          <mat-icon>flag</mat-icon>
        </button>
      </div>
      <button id='createGraph' class="plotDataBtn dataBtn" (click)="clickPlotData()"
        aria-label="Clicking this button will create a graph using the points defined by the user-defined filters">
        Create Graph
      </button>
      <button id="graphDataDownloadBtn" class="downloadBtn dataBtn disabledDataBtn" matTooltip="Download Metadata"
        aria-label="Clicking this button will download a CSV of the filtered points" (click)="downloadGraphMetadata()">
        <mat-icon>cloud_download</mat-icon>
        <mat-icon>library_books</mat-icon>
      </button>
    </div>
  </div>
  <div class="graphBackground marginTopFullHeight" id="graphBackgroundID" [hidden]="!showGraph && sameQuery"
    aria-label="This is a graph displaying the points that were filtered using the menu located to the left of this graph">
    <div class="unflagModal" [hidden]="!showUnflagOptions">
      <div>Are you sure you want to remove all plotted flags?</div>
      <button class="mapFilterBtn dataBtn noLeftBreak" (click)="sumbitUnflagSelections()"
        aria-label="Click this button to save flag options">
        Yes
      </button>
      <button class="mapFilterBtn dataBtn" (click)="closeFlagOptions()"
        aria-label="Click this button to close the flag options modal without saving changes">
        No
      </button>
    </div>
    <div class="optionModal" [hidden]=" !showFlagOptions">
      <form [formGroup]="axisFlagForm">
        <div>
          <div class="leftTopBreak" aria-label="Checking this box will flag the X-Axis data from this point"
            [hidden]="sameQuery">
            <mat-checkbox formControlName="xFlagControl" class="example-margin" [disableRipple]="true">X-Axis
            </mat-checkbox>
          </div>
          <div class=" leftTopBreak" aria-label="Checking this box will flag the Y-Axis data from this point"
            [hidden]="sameQuery">
            <mat-checkbox class=" example-margin" formControlName="yFlagControl" [disableRipple]="true">Y-Axis
            </mat-checkbox>
          </div>
          <div class="leftTopBreak" aria-label="Checking this box will flag the X-Axis data from this point"
            [hidden]="!sameQuery">
            <mat-checkbox formControlName="xyFlagControl" class="example-margin" [disableRipple]="true">Create flag
            </mat-checkbox>
          </div>
        </div>
        <button class="mapFilterBtn dataBtn noLeftBreak" (click)="goToFlagTypes()"
          aria-label="Click this button to save flag options">
          Next
        </button>
        <button class="mapFilterBtn dataBtn" (click)="closeFlagOptions()"
          aria-label="Click this button to close the flag options modal without saving changes">
          Cancel
        </button>
      </form>
    </div>
    <div class="optionModal" [hidden]="!showFlagOptionsX">
      <div class="leftTopBreak" [hidden]="sameQuery">
        X-Axis Flags
      </div>
      <div>
        <form [formGroup]="flagTypesX">
          <div class="leftTopBreak"
            aria-label="Checking this box will add 'Central tendency' to the list of flag types">
            <mat-checkbox formControlName="centralTendency" class="example-margin" [disableRipple]="true">Central
              tendency
            </mat-checkbox>
          </div>
          <div class="leftTopBreak" aria-label="Checking this box will add 'Outlier' to the list of flag types">
            <mat-checkbox formControlName="outlier" class="example-margin" [disableRipple]="true">Outlier
            </mat-checkbox>
          </div>
          <div class="leftTopBreak"
            aria-label="Checking this box will add 'Matrix or recovery problem' to the list of flag types">
            <mat-checkbox formControlName="matrixInterference" class="example-margin" [disableRipple]="true">Matrix or
              recovery problem
            </mat-checkbox>
          </div>
          <div class="leftTopBreak"
            aria-label="Checking this box will add 'Dissolved result > Total' to the list of flag types">
            <mat-checkbox formControlName="dissolvedGTTotal" class="example-margin" [disableRipple]="true">Dissolved
              result > Total
            </mat-checkbox>
          </div>
          <div class="leftTopBreak"
            aria-label="Checking this box will add 'Phytoplankton vs Chl' to the list of flag types">
            <mat-checkbox formControlName="phytoChl" class="example-margin" [disableRipple]="true">Phytoplankton vs Chl
            </mat-checkbox>
          </div>
          <div class="leftTopBreak" aria-label="Checking this box will add 'Unknown' to the list of flag types">
            <mat-checkbox formControlName="unknown" class="example-margin" [disableRipple]="true">Unknown
            </mat-checkbox>
          </div>
        </form>
      </div>
      <mat-form-field style="margin-top: 10px;" appearance="fill" id="annotate">
        <mat-label>Notes</mat-label>
        <textarea style="resize: none" id='flagAnnotationX' matInput
          placeholder="Enter a custom flag annotation here"></textarea>
      </mat-form-field>
      <div [hidden]="submitAfterX">
        <form [formGroup]="sameXYFlag">
          <div class="leftTopBreak"
            aria-label="Checking this box will allow you to choose different flag types and annotations for the y-axis data">
            <mat-checkbox formControlName="diffY" (change)="diffYflags($event)" [disableRipple]="true">Record different
              responses <br /> for y-axis data
            </mat-checkbox>
          </div>
        </form>
      </div>
      <button class="mapFilterBtn dataBtn noLeftBreak" (click)="goToFlagTypesY()"
        [hidden]="!differentYflags || submitAfterX" aria-label="Click this button to save flag options">
        Next
      </button>
      <button class="mapFilterBtn dataBtn noLeftBreak" (click)="submitFlagSelections()" [hidden]="differentYflags"
        aria-label="Click this button to save flag options">
        Submit
      </button>
      <button class="mapFilterBtn dataBtn" (click)="closeFlagOptions()"
        aria-label="Click this button to close the flag options modal without saving changes">
        Cancel
      </button>
    </div>
    <div class="optionModal" [hidden]="!showFlagOptionsY">
      <div class="leftTopBreak">
        Y-Axis Flags
      </div>
      <div>
        <form [formGroup]="flagTypesY">
          <div class="leftTopBreak"
            aria-label="Checking this box will add 'Central tendency' to the list of flag types">
            <mat-checkbox formControlName="centralTendency" class="example-margin" [disableRipple]="true">Central
              tendency
            </mat-checkbox>
          </div>
          <div class="leftTopBreak" aria-label="Checking this box will add 'Outlier' to the list of flag types">
            <mat-checkbox formControlName="outlier" class="example-margin" [disableRipple]="true">Outlier
            </mat-checkbox>
          </div>
          <div class="leftTopBreak"
            aria-label="Checking this box will add 'Matrix or recovery problem' to the list of flag types">
            <mat-checkbox formControlName="matrixInterference" class="example-margin" [disableRipple]="true">Matrix or
              recovery problem
            </mat-checkbox>
          </div>
          <div class="leftTopBreak"
            aria-label="Checking this box will add 'Dissolved result > Total' to the list of flag types">
            <mat-checkbox formControlName="dissolvedGTTotal" class="example-margin" [disableRipple]="true">Dissolved
              result > Total
            </mat-checkbox>
          </div>
          <div class="leftTopBreak"
            aria-label="Checking this box will add 'Phytoplankton vs Chl' to the list of flag types">
            <mat-checkbox formControlName="phytoChl" class="example-margin" [disableRipple]="true">Phytoplankton vs Chl
            </mat-checkbox>
          </div>
          <div class="leftTopBreak" aria-label="Checking this box will add 'Unknown' to the list of flag types">
            <mat-checkbox formControlName="unknown" class="example-margin" [disableRipple]="true">Unknown
            </mat-checkbox>
          </div>
        </form>
      </div>
      <mat-form-field style="margin-top: 10px;" appearance="fill" id="annotate">
        <mat-label>Notes</mat-label>
        <textarea style="resize: none" id='flagAnnotationY' matInput
          placeholder="Enter a custom flag annotation here"></textarea>
      </mat-form-field>
      <button class="mapFilterBtn dataBtn noLeftBreak" (click)="submitFlagSelections()"
        aria-label="Click this button to save flag options">
        Submit
      </button>
      <button class="mapFilterBtn dataBtn" (click)="closeFlagOptions()"
        aria-label="Click this button to close the flag options modal without saving changes">
        Cancel
      </button>
    </div>
    <div id="graph"></div>
  </div>
</div>