<div class="flex-container">
  <div
    class="graphOptionsBackgroundMini marginLeftFullWidth marginTopFullHeight"
    [hidden]="graphOptionsVisible"
    (click)="collapseGraphOptions(true)"
    style="margin-right: 5px"
    id="graphOptionsCollapsedID"
  >
    <div
      style="
        text-align: right;
        margin-right: 10px;
        margin-top: 15px;
        transform: rotate(270deg);
      "
    >
      <mat-icon matTooltip="maximize">maximize</mat-icon>
    </div>
    <div
      style="
        transform: rotate(270deg);
        font-size: 20px;
        text-align: center;
        word-wrap: none;
        width: 150px;
        margin-left: -45px;
        margin-top: 50px;
        color: rgb(163, 152, 152);
      "
    >
      Graph Options
    </div>
  </div>

  <div
    class="
      optionsBackground
      marginLeftFullWidth
      marginTopFullHeight
      optionsMarginRightLarge
      optionsBackgroundHeightSmall
    "
    id="graphOptionsBackgroundID"
    [hidden]="!graphOptionsVisible"
  >
    <div style="text-align: right; margin-right: 10px">
      <mat-icon
        matTooltip="minimize"
        style="cursor: pointer"
        (click)="collapseGraphOptions(false)"
        >minimize</mat-icon
      >
    </div>
    <div style="height: 10px"></div>
    <div class="traceOptionsBackground">
      <div style="margin-left: 10px">
        <br />
        x Axis <br />
        <mat-form-field appearance="fill">
          <mat-label>Parameters</mat-label>
          <mat-select [formControl]="Parameters" multiple>
            <mat-option
              *ngFor="let parameter of parameterList"
              [value]="parameter"
              >{{ parameter }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <br />
        y Axis <br />
        <mat-form-field appearance="fill">
          <mat-label>Parameters</mat-label>
          <mat-select [formControl]="Parameters" multiple>
            <mat-option
              *ngFor="let parameter of parameterList"
              [value]="parameter"
              >{{ parameter }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div style="height: 10px"></div>
    <div *ngIf="secondTrace" class="traceOptionsBackground">
      <div style="margin-left: 10px">
        <br />
        x Axis <br />
        <mat-form-field appearance="fill">
          <mat-label>Parameters</mat-label>
          <mat-select [formControl]="Parameters" multiple>
            <mat-option
              *ngFor="let parameter of parameterList"
              [value]="parameter"
              >{{ parameter }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <br />
        y Axis <br />
        <mat-form-field appearance="fill">
          <mat-label>Parameters</mat-label>
          <mat-select [formControl]="Parameters" multiple>
            <mat-option
              *ngFor="let parameter of parameterList"
              [value]="parameter"
              >{{ parameter }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="custom-slider" style="margin-left: 10px">
      <ngx-slider
        [(value)]="minValue"
        [(highValue)]="maxValue"
        [options]="timeOptions"
      ></ngx-slider>
    </div>
    <div style="margin-left: 10px; margin-top: 10px">
      Log Scale &nbsp;
      <mat-checkbox class="example-margin" [disableRipple]="true"
        >x
      </mat-checkbox>
      &nbsp;
      <mat-checkbox class="example-margin" [disableRipple]="true"
        >y
      </mat-checkbox>
    </div>
    <div style="margin-left: 10px; margin-top: 10px">
      <mat-checkbox class="example-margin" [disableRipple]="true"
        >Limit to map extent
      </mat-checkbox>
    </div>

    <button
      *ngIf="!secondTrace"
      class="traceBtn dataBtn"
      matTooltip="Add Trace"
      (click)="addTrace()"
    >
      +
    </button>
    <button
      *ngIf="secondTrace"
      class="traceBtn dataBtn"
      matTooltip="Remove Trace"
      (click)="removeTrace()"
    >
      -
    </button>
    <button class="plotDataBtn dataBtn">Plot Data</button>
    <button class="downloadBtn dataBtn" matTooltip="Download CSV">
      <mat-icon>cloud_download</mat-icon>
    </button>
  </div>
  <div class="graphBackground marginTopFullHeight" id="graphBackgroundID">
    <div id="graph"></div>
  </div>
</div>
