<div class="map-container">
  <div class="map-frame">
    <div id="map">
      <div class="northPosition">
        <div class="northArrow"></div>
      </div>
      <div class="northPosition">
        <div class="northArrow">
          <p class="arrow up"></p>
          <div class="northLabel">N</div>
          <a href="https://wim.usgs.gov/" target="_blank">
            <img
              matTooltip="Created by WIM"
              src="../../../assets/logo_only_web.png"
              style="
                height: 25px;
                margin-right: 0px;
                margin-bottom: 35px;
                margin-left: 10px;
              "
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
