<div class="map-container" id="mapContainer" disable>
	<div class="map-frame">
		<div id="map">
			<div class="northPosition">
				<div class="northArrow"></div>
			</div>
			<div class="northPosition">
				<div class="northArrow">
					<p class="arrow up" aria-label="This is a north arrow. North is straight up."></p>
					<div class="northLabel" aria-label="This is a north arrow. North is straight up.">
						N
					</div>
					<a href="https://wim.usgs.gov/" target="_blank">
						<img alt="Web Informatics and Mapping logo. Clicking on this logo will lead to the WIM homepage."
							matTooltip="Created by WIM" src="assets/logo_only_web.png" class="wimLogo" />
					</a>
				</div>
			</div>
		</div>
	</div>
</div>