.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  z-index: 0;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

.northArrow {
  position: absolute;
  padding: 4px;
  bottom: 15px !important;
  margin-left: 7px;
  z-index: 1000;
  border-radius: 4px;
}

.latLngScale:hover .hover-content {
  display: inline-block;
}

.arrow {
  border: solid rgb(95, 95, 95);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  margin-bottom: 48px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.northLabel {
  margin-left: auto;
  margin-right: 0;
  bottom: 35px;
  font-size: 18px;
  position: absolute;
  color: rgb(95, 95, 95);
}

.northPosition {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
