<div class="infoPanel marginLeftFullWidth marginTopFullHeight introSize" id="introID"
    aria-label="This panel contains information about CyAN">
    <div class="aboutModal">
        <div style="padding: 20px; background-color: rgba(242, 230, 177, 0.3)">
            <p class="aboutText">
                Cyanobacteria Assessment Network <br />Field Exploratory Lakes Database
            </p>
        </div>
        <div style="padding: 20px; margin-top: 20px; background-color: rgb(149, 218, 182, 0.2)">
            <p style="font-size: large; ">
                <mat-icon (click)="clickIntroMap()" style="cursor: pointer; 
  pointer-events: all">map</mat-icon>
                Query and view data on an interactive map.
            </p>
            <p style="font-size: large;">
                <mat-icon (click)="clickIntroGraph()" style="cursor: pointer; 
  pointer-events: all">scatter_plot</mat-icon>
                Query, plot, and flag data on an interactive graph.
            </p>
        </div>
    </div>
</div>