<div class="infoPanel marginLeftFullWidth marginTopFullHeight" id="infoPanelID"
    aria-label="This panel contains information about CyAN">
    <div class="aboutModal">
        <div style="padding: 20px; background-color: rgba(254, 254, 204, 0.5)">
            <p class="aboutText">
                Cyanobacteria Assessment Network <br />Field Exploratory Lakes Database
            </p>
        </div>


        <div class="break"></div>
        <div style="padding: 20px; background-color: rgb(242, 189, 161, 0.2)">
            <p style="font-size: large">
                <mat-icon>map</mat-icon>
                View data on an interactive map.
            </p>
            <p style="font-size: large">
                <mat-icon>scatter_plot</mat-icon>
                Plot and flag data on an interactive graph.
            </p>
        </div>

    </div>
</div>