<div class="infoPanel marginLeftFullWidth marginTopFullHeight" id="infoPanelID">
  <div style="margin-left: 20px; padding-top: 20px; margin-right: 20px">
    <p style="font-size: 30px; line-height: 35px">
      Cyanobacteria Assessment Network
    </p>
    <p>
      The purpose of the Cyanobacterial Assessment Network (CyAN) web app is to
      display, distribute, and analyze harmful algal bloom (HAB) data. Users can
      query water quality samples and access the data through maps, charts, and
      tables. These data will be used for calibrating satellite data to improve
      algal bloom detection in the United States.
    </p>
  </div>
</div>
