<h2>
	Cyanobacteria Assessment Network
</h2>
<p>
	The purpose of the Cyanobacterial Assessment Network (CyAN) field tool is
	to display, distribute, and analyze harmful algal bloom (HAB) data. Users
	can query water quality samples and access the data through maps, charts,
	and tables. <br />
	<br />
	This app was custom built for scientists who use in-situ data to create
	and validate algal bloom algorithms based on spectral satellite data. This
	is one tool researchers at the USGS, NASA, and the EPA use in conjunction
	with SENTINEL-3 data. The Ocean and Land Color Instrument (OCLI) sensor
	onboard the European Space Agency's (ESA) SENTINEL 3-A and SENTINEL 3-B
	satellites detects visible and infrared light emitted by large bodies of
	water. OCLI has 21 bands, meaning it can detect 21 ranges of
	electromagnetic wavelengths. Algorithms combine the values of these bands
	to calculate estimates of the presence/absence of cyanobacteria, which are
	then validated against the in-situ data provided in this app. Learn more
	about the larger CyAN project
	<a href="https://www.epa.gov/water-research/cyanobacteria-assessment-network-cyan" target="_blank">here</a>.
</p>