<div
  style="
    background-color: rgba(255, 255, 255, 0.8);
    width: 200px;
    height: 400px;
    /* opacity: 0.5; */
    margin-top: 20px;
    margin-left: 20px;
  "
>
  <div style="height: 10px"></div>
  <div class="custom-slider" style="margin-left: 10px">
    <ngx-slider
      [(value)]="minValue"
      [(highValue)]="maxValue"
      [options]="options"
    ></ngx-slider>
  </div>
  <button
    style="
      height: 35px;
      width: 55px;
      background-color: rgb(131, 184, 124);
      cursor: pointer;
      font-size: 20px;
      color: white;
      margin-left: 10px;
      margin-top: 10px;
      text-align: center;
      vertical-align: middle;
      line-height: 35px;
      border: none;
    "
  >
    Filter
  </button>
</div>
