<div
  class="optionsBackgroundMini marginLeftFullWidth"
  [hidden]="mapLayerOptions"
  (click)="displayMapLayerOptions(true)"
  id="mapLayersCollapsed"
>
  <div style="text-align: right; margin-right: 10px">
    <mat-icon matTooltip="maximize">maximize</mat-icon>
  </div>
  <div class="minimizedBackground">Map Layers</div>
</div>
<div
  class="mapLayerOptionsBackground marginLeftFullWidth marginTopFullHeight"
  [hidden]="!mapLayerOptions"
  id="mapLayersOptions"
>
  <div style="text-align: right; margin-right: 10px">
    <mat-icon
      matTooltip="minimize"
      style="cursor: pointer"
      (click)="displayMapLayerOptions(false)"
      >minimize</mat-icon
    >
  </div>
  <div class="mapLayers" id="mapLayersID">
    <label class="radioContainer" id="radioContainerResize0"
      >Streets
      <input
        id="streetRadio"
        (change)="newBasemap()"
        type="radio"
        checked="checked"
        name="radio"
      />
      <span class="radioCheckmark" id="radioCheckmarkOuter0"></span>
    </label>
    <label class="radioContainer" id="radioContainerResize1"
      >Imagery
      <input
        type="radio"
        name="radio"
        id="imageryRadio"
        (change)="newBasemap()"
      />
      <span class="radioCheckmark" id="radioCheckmarkOuter1"></span>
    </label>
    <label class="radioContainer" id="radioContainerResize2"
      >Grayscale
      <input
        type="radio"
        name="radio"
        id="grayscaleRadio"
        (change)="newBasemap()"
      />
      <span class="radioCheckmark" id="radioCheckmarkOuter2"></span>
    </label>
  </div>
</div>
<div
  id="mapOptionsContainer"
  class="optionsBackgroundMapFull marginLeftFullWidth marginTopFullHeight"
  [hidden]="!mapFilters"
>
  <div style="text-align: right; margin-right: 10px">
    <mat-icon
      matTooltip="minimize"
      style="cursor: pointer"
      (click)="displayMapFilters(false)"
      >minimize</mat-icon
    >
  </div>
  <form [formGroup]="codeForm">
    <div style="margin-left: 10px">
      <mat-form-field appearance="fill">
        <mat-label>Parameters</mat-label>
        <mat-select formControlName="parameterControl" multiple>
          <mat-option
            *ngFor="let parameter of parameterList"
            [value]="parameter.code"
            >{{ parameter.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Methods</mat-label>
        <mat-select formControlName="methodControl" multiple>
          <mat-option
            *ngFor="let method of methodsList"
            [value]="method.code"
            >{{ method.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div class="custom-slider" style="margin-left: 10px">
    <ngx-slider
      [(value)]="minValue"
      [(highValue)]="maxValue"
      [options]="timeOptions"
    ></ngx-slider>
  </div>
  <div style="margin-left: 10px; margin-top: 10px">
    <mat-form-field appearance="fill">
      <mat-label>States</mat-label>
      <mat-select [formControl]="States" multiple>
        <mat-option *ngFor="let state of stateList" [value]="state">{{
          state
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    Bounding Box
    <form class="boundingBoxForm" [formGroup]="mapForm">
      <div class="flex-container">
        <mat-form-field
          class="boundingBoxFullWidth"
          appearance="fill"
          style="margin-right: 10px"
        >
          <mat-label>North</mat-label>
          <input matInput #northControl formControlName="northControl" />
        </mat-form-field>
        <mat-form-field class="boundingBoxFullWidth" appearance="fill">
          <mat-label>South</mat-label>
          <input matInput formControlName="southControl" />
        </mat-form-field>
      </div>
      <div class="flex-container">
        <mat-form-field
          class="boundingBoxFullWidth"
          appearance="fill"
          style="margin-right: 10px"
        >
          <mat-label>East</mat-label>
          <input matInput formControlName="eastControl" />
        </mat-form-field>
        <mat-form-field class="boundingBoxFullWidth" appearance="fill">
          <mat-label>West</mat-label>
          <input matInput formControlName="westControl" />
        </mat-form-field>
      </div>
    </form>

    <mat-checkbox
      [disableRipple]="true"
      (change)="populateMapBounds($event)"
      [checked]="mapBoundsChecked"
      >Use map bounds
    </mat-checkbox>
  </div>
  <button class="mapFilterBtn dataBtn" (click)="runFilters()">Filter</button>
  <button class="downloadBtn dataBtn" matTooltip="Download CSV">
    <mat-icon>cloud_download</mat-icon>
  </button>
</div>
<div
  [hidden]="mapFilters"
  class="optionsBackgroundMini marginLeftFullWidth"
  (click)="displayMapFilters(true)"
  id="filterPointsCollapsed"
>
  <div style="text-align: right; margin-right: 10px">
    <mat-icon matTooltip="maximize">maximize</mat-icon>
  </div>
  <div class="minimizedBackground">Filter Points</div>
</div>
