::ng-deep .mat-snack-bar-container.no-data-warning {
  background-color: #ff9100;
  color: white;
  margin-bottom: 300px;
}

/* start: year slider */
::ng-deep {
  .custom-slider {
    .ngx-slider {
      .ngx-slider-selection {
        background: rgb(146, 146, 136) !important;
      }
    }
    .ngx-slider-pointer {
      background: rgb(146, 146, 136) !important;
      .ng-slider-active::before {
        background-color: white !important;
      }
    }
  }
}
::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #545e64 !important;
}
/* end: year slider */
